/* body{
    
} */

/* body::after{
    position:absolute; width:0; height:0; overflow:auto; z-index:-1; 
    content:url(../img/homepage-bg.jpg);   
 } */
.welcome{
    background-image: url(../img/background.gif);
    background-repeat: no-repeat;
    background-color: rgb(249, 250, 251) ;
    background-size: 100% 100%;
    height: 100vh;
    font-size: 10%;
    text-align: center;
    color: white;
    position: relative;
    /* z-index: -1; */

}
.first-text{
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    left:53vw;
    top:15vh;
    
}
.discover{
    cursor: pointer;
    padding:10px;
    position: absolute;
    top:75vh;
    left:50vw;
    width: 30%;
    border: 5px solid #a7cffa;
    font-family: 'Quicksand', sans-serif ;
    background-color: #14464b;
    font-size:45px;
    border-radius:30px;
    transition: 200ms;
}
.discover:hover{
    background-color: #a7cffa;
}
.about{
    background-image: url(../img/background1.gif);
    background-repeat: no-repeat;
    background-color: rgb(249, 250, 251) ;
    background-size: 100% 100%;
    height: 100vh;
    font-size: 20px;
    color: white;
    /* position: relative; */
}
.about_description{
    position:absolute;
    top:150%;
    width:80%;
    height:50vh;
    color:black;
    font-family: 'Noto Serif', serif;
    overflow: clip;
}
.about_description li{
    margin-left: 5%;
    width:80%;
    /* height:10%; */
	padding: 10px 0 10px 55px;
	list-style: none;
	background-image: url("../img/bullet.png");
	background-repeat: no-repeat;
	background-position: left center;
	background-size: 40px;
    cursor:default;
    transition: 600ms;
    font-family: 'Noto Serif', serif;
}

.about_description li:hover{
    font-size: 25px;
    width:90%;
}

.mon_toan{
    background-image: url(../img/background2.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 100vh;
    color: white;
    position: relative;
}
.mon_toan_description{
    position: absolute;
    top:27vh;
    display:flex;
    flex-direction: row;
    justify-content: space-around;
}
.mon_toan_description div{
    background-color: #006e72;
    border-radius: 10px;
    width: 30%;
    padding-bottom: 10%;
    cursor:default;
    /* text-align: center; */
}

.mon_toan_description div p{
    color: #ffdd64;
    padding-left:15px;
    padding-bottom: 15px;
    font-family: 'Noto Serif', serif;
    font-size: 22px;
    cursor:default;
    overflow: auto; 
}

.mon_toan_description div p:hover{
    text-shadow: #dd7915;
}
.mon_toan_description div div{
    width:15vw;
    font-family: 'Pacifico', cursive;
    border-radius: 30px;
    font-size:25px;
    background-color: #dd7915;
    text-align: center;
    padding:10px;
    margin: -28px auto 5px auto;
}

.mon_toan_image{
    position: absolute;
    top:50vh;
    left:47vw;
    height: 74%;
    width:30%;
}

.mon_van{
    background-image: url(../img/background3.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 100vh;
    color: white;
    position: relative;
}
.mon_van_image{
    width:68%; 
    height:98%;
    position: absolute;
    top:10vh;
    left:30vw;
}
.mon_van_description{
    position:absolute;
    top:40%;
    left:42%;
    font-size:200%;
    color:#14464b;
    font-family: 'Pacifico', cursive;
}

.mon_van_description li{
    padding-left: 40px;
	list-style: none;
	background-image: url("../img/bullet2.png");
	background-repeat: no-repeat;
	background-position: left center;
	background-size: 50px;
    cursor:default;
    transition: 300ms;
    overflow: auto; 
}
.mon_van_description li:hover{
    padding:8px 45px;
    font-size:110%;
    background-size: 55px;
    color:rgb(208, 28, 139);
}

.mon_anh{
    background-image: url(../img/background4.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 100vh;
    color: white;
    position: relative;
}
.mon_anh_image{
    width:68%; 
    height:75%;
    position: absolute;
    top:20vh;
    left:32vw;
}
.mon_anh_flex{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    position: absolute;
    top:60vh;
    left:41vw;
    color:#14464b;
    font-family: 'Quicksand', sans-serif ;
}
.mon_anh_flex p{
    width: 11vw;
    text-align: center;
    cursor:default;
    overflow: auto; 
    font-size:24px;
}


.KHTN{
    background-image: url(../img/background5.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 100vh;
    color: white;
    position: relative;
}
.KHTN_flex{
    display: flex;
    position: absolute;
    color: #dd7915;
    flex-direction: column;
    font-family: 'Pacifico', cursive;
    justify-content: space-between;
    top: 30vh;
    left: 10vh;
    height:50vh;
}

.KHTN_flex div{
    background-color: #ffdd64;
    border-radius: 20px;
    box-shadow: 5px 5px #ffffff;
    border: 2px solid #dd7915;
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 35vw;
    height: 12vh;
    cursor: pointer;
    transform: perspective(1px) translateZ(0);
    transition: color 0.3s;
}
.KHTN_flex div:before{
    background-color: #ffffff;
    transform: scaleX(0);
    transform-origin: 0 50%;
    transition: transform 0.3s ease-out;
    
}

.KHTN_flex div:hover{
    color: white;
}

.KHTN_flex div:hover:before{
    transform: scaleX(1);
}

.KHTN_flex div span{
    font-size: 45px;
    
}

.circle{
    background-color: #ffffff;
    border-radius: 50%;
    box-shadow: 5px 0px #dd7915;
    border: none;
    width: 15%;
    height:80%;
    display: inline-block;
}


.KHXH{
    background-image: url(../img/background6.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 100vh;
    color: white;
    position: relative;
}

.KHXH_content{
    display:flex;
    position: absolute;
    top: 27vh;
    left: 3vw;
}
.KHXH_content div{
    position: relative;
    cursor: pointer;
}
.KHXH_content div img{
    width:30vw;
    height:68vh;
    transition: 0.5s;
}

.KHXH_content div img:hover{
    width:30vw;
    height:70vh;
}

.KHXH_content div span{
    font-family: 'Pacifico', cursive;
    color: #dd7915;
    font-size: 40px;
    position: absolute;
    top: 6vh;
    left:15vw;
    /* cursor:default; */
}