/* body{
    
} */

/* body::after{
    position:absolute; width:0; height:0; overflow:hidden; z-index:-1; 
    content:url(../img/homepage-bg.jpg);   
 } */
.welcome{
    background-image: url(../img/background.gif);
    background-repeat: no-repeat;
    background-color: rgb(249, 250, 251) ;
    background-size: 100% 100%;
    height: 100vh;
    font-size: 10%;
    text-align: center;
    color: white;
    position: relative;
    /* z-index: -1; */

}
.first-text{
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    left:53vw;
    top:15vh;
    
}
.discover{
    cursor: pointer;
    padding:10px;
    position: absolute;
    top:75vh;
    left:50vw;
    width: 30%;
    border: 5px solid #a7cffa;
    font-family: 'Quicksand', sans-serif ;
    background-color: #14464b;
    font-size:45px;
    border-radius:30px;
    transition: 200ms;
}
.discover:hover{
    background-color: #a7cffa;
}
.about{
    background-image: url(../img/background1.gif);
    background-repeat: no-repeat;
    background-color: rgb(249, 250, 251) ;
    background-size: 100% 100%;
    height: 100vh;
    font-size: 20px;
    color: white;
    /* position: relative; */
}
.about_description{
    position:absolute;
    top:150%;
    width:80%;
    color:black;
    font-family: 'Noto Serif', serif;

}
.about_description li{
    margin-left: 5%;
    width:80%;
	padding: 10px 0 10px 55px;
	list-style: none;
	background-image: url("../img/bullet.png");
	background-repeat: no-repeat;
	background-position: left center;
	background-size: 40px;
    cursor:default;
    transition: 600ms;
}

.about_description li:hover{
    font-size: 25px;
    width:90%;
}

.mon_van{
    background-image: url(../img/background3.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 100vh;
    color: white;
    position: relative;
}
.mon_van_image{
    width:68%; 
    height:98%;
    position: absolute;
    top:10vh;
    left:30vw;
}
.mon_van_description{
    position:absolute;
    top:40%;
    left:42%;
    font-size:200%;
    color:#14464b;
    font-family: 'Pacifico', cursive;
}

.mon_van_description li{
    padding-left: 40px;
	list-style: none;
	background-image: url("../img/bullet2.png");
	background-repeat: no-repeat;
	background-position: left center;
	background-size: 50px;
    cursor:default;
    transition: 300ms;
}
.mon_van_description li:hover{
    padding:8px 45px;
    font-size:110%;
    background-size: 55px;
    color:rgb(208, 28, 139);
}